# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Temporary analysis and build files
analysis.txt
analysis_output.txt
analyze_full.txt
analyze_out.txt
build_error.txt
build_error_cmd.txt
build_error_cmd_verbose.txt
build_error_latest.txt
build_out.txt
build_verbose.txt
flutter_run_out.txt
pubget.txt
run_out.txt
local_smtp_proxy.dart
test_smtp.dart
